body {
  font-family: 'Space Mono', monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #single-product-page-image {
  width: 500px;
} */

.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.product-image {
  width: 150px
}

.product-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.children-container {
  margin-top: 4.5em;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: -84px;
  margin-top: 2.5px;
  margin-right: 62px;
}

.search {
  padding-left: 1rem;
}
.search.large {
  margin: 1.4em;
}

/* cart stuff */
.cartContainer{
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.orderItem {
  display: flex;
  flex-direction: row
}
.home-products {
  margin-bottom: -50px;
}

.search-acc-cart {
  margin-bottom: -50px;
}
.item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px
}
.item-info span{
  padding: 10px
}

#filter-by-status-radios{
  display: flex;
  justify-content: space-around;
}
