body {
  font-size: 18px;
  font-family: 'Khula', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: 'Open Sans', sans-serif;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #single-product-page-image {
  width: 500px;
} */

.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.product-image {
  width: 150px
}

.product-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.children-container {
  margin-top: 4.5em;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: -84px;
  margin-top: 2.5px;
  margin-right: 62px;
}

.search {
  padding-left: 1rem;
}
.search.large {
  margin: 1.4em;
}

/* cart stuff */


.cartContainer{
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.orderItem {
  display: flex;
  flex-direction: row
}
.home-products {
  margin-bottom: -50px;
}

.ui.compact {
  width: auto;
}

.search-acc-cart {
  margin-bottom: -50px;
}
.item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px
}
.item-info span{
  padding: 10px
}
.ui.horizontal.segments {
  display: inline-flex;
}
#filter-by-status-radios{
  display: flex;
  justify-content: space-around;
}

#rating-box{
  display: flex;
}

#categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 88px;
  justify-content: space-between;
}

#cat-button{
  margin-top: 7px;
  margin-right: 3px
}

.search-acc-cart {
  display: flex !important;
}

.search-bar-icon {
  display: flex !important;
  margin-top: 6rem !important;
  margin-top: -1em !important;
}
.search-bar-form {
  margin-right: 14px;
}
.blue.search.icon.large {
  margin-top: 16px;
}

.search1 {
  margin-top: 28px;
}

.remove {
  margin-top: 20px !important;
}

.category.active {
  background-color: rgb(237,218,245);
}

.image.logo {
  margin-right: -33px;
}


#landing-page-image {
  max-width: 100%;
}

#landing-page-container {
  padding: 20px;
  position: relative;
  text-align: center;
  color: white;
}

#landing-page-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}



#all-prod-price {
  color: #1e70bf;
}

.ui.basic.segment {
  font-family: 'Open Sans', sans-serif;
}

